<!DOCTYPE html>
<html>
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>New Channel - SenseEgypt</title>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <script type="text/javascript" src="js/jquery.min.js"></script>
  
    <script src="js/jquery.validate.min.js"></script>

<script src="js/ChannelForm-validation.js"></script>

<!--  <script src="js/SignUpForm-validation.js"></script> -->
  <!--<script data-turbolinks-track="true" src="js/application-6fc220d7a77fd902426521898e0585b7.js"></script> -->

  <script type='text/javascript' src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link data-turbolinks-track="true" href="css/application-34ab6c80c76e48d799f77e7e60386577.css" media="screen" rel="stylesheet" />

<style>


input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/

}


input.addact {
    width: 20em;  height: 2em;
}



.my-error-class {
    color:red;
}
.my-valid-class {
    color:green;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: red;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: red;
    color: black;
}
</style>







  
    <script type="text/javascript">

  



  
  
  
  //Add table for Actuators Rules 
  
  function addRow() {

      $('#mydata').show();

  
   var itemSelected = $("#deviceslist option:selected").last();
		var item = itemSelected.val();
		var sensorID;
		if(itemSelected.index() != 0){
		
		var sensorData=item.split("|");
        sensorID=sensorData[0];
        }else{
          sensorID="No";
        }





         
    var minThreshold = document.getElementById("channel_minThreshold");
	var maxThreshold = document.getElementById("channel_maxThreshold");
    var command = document.getElementById("channel_actuatorCommand");
	
    var table = document.getElementById("myTableData");

    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);

    row.insertCell(0).innerHTML= '<input type="button" value = "Delete"   onClick="Javacsript:deleteRow(this)">';
    row.insertCell(1).innerHTML= sensorID;
    row.insertCell(2).innerHTML= minThreshold.value;
	    row.insertCell(3).innerHTML= maxThreshold.value;
		    row.insertCell(4).innerHTML= command.value;
			
			
			minThreshold.value="";
			maxThreshold.value="";
			command.value="";


}


function deleteRow(obj) {
     
    var index = obj.parentNode.parentNode.rowIndex;
    var table = document.getElementById("myTableData");
    table.deleteRow(index);
   
}




function load() {
   
    console.log("Page load finished");

}





$(document).ready(function()
{
showpopup();
 $("#addNewChannel").click(function(){
  showpopup();
  
     $('#addSensorForm').find('input:text, input:password, select, textarea').val('');
        $('#addSensorForm').find('input:radio, input:checkbox').prop('checked', false);

				//    $('#channelsettings').show(); 


			console.log("Button Clicked");
 });
 
 
 
   $('#triggeractuator').change(function() {
        if($(this).is(":checked")) {
			showpopup();
  
   //  $('#addSensorForm').find('input:text, input:password, select, textarea').val('');
     //   $('#addSensorForm').find('input:radio, input:checkbox').prop('checked', false);
			
			
			 $("#addact").fadeIn();
            $("#addact").css({"visibility":"visible","display":"block"});
 
 
       //  $('#triggeractuator').val($(this).is(':checked'));
    //    $('#addSensorForm').find('input:radio, input:checkbox').prop('checked', true);

        }else{
		
	//	$("#adddeviceform").fadeIn();
 $("#addact").css({"visibility":"hidden"});
		
		}
    });
	
	
	
 
 
 
 $("#close_login").click(function(){
  hidepopup();
 });
});

function showpopup()
{
 $("#adddeviceform").fadeIn();
 $("#adddeviceform").css({"visibility":"visible","display":"block"});
}

function hidepopup()
{
 $("#adddeviceform").fadeOut();
 $("#adddeviceform").css({"visibility":"hidden","display":"none"});
}







</script>




<script type="text/javascript"  >

  $(document).on('page:load ready', function() {
  
   var isLogged=false ;
 
isLogged= <%= logged %>;
console.log("User Logged "+isLogged);
			

islogged=JSON.stringify(isLogged);

isLogged=true;


 var isPublic = <%= ispublic %>;
console.log("Is Public ?  "+isPublic);
isPublic=JSON.stringify(isPublic);
if((isPublic == true || isPublic == 'true' ) && (isLogged == true || isLogged == 'true' || isLogged == "true")){

isPublic='true';
 $('#channelsList').show();
   $('#SIGNUP').hide(); 
   $('#SIGNIN').hide(); 
      $('#publicchannel').show(); 
		    $('#SIGNOUT').show(); 
		    $('#newdevice').show(); 

}else if((isPublic == true || isPublic == 'true' ) && (isLogged == false || isLogged == 'false' || isLogged == "false")){

isPublic='true';
  $('#channelsList').hide(); 
		    $('#SIGNOUT').hide(); 
      $('#newdevice').hide(); 
	     $('#SIGNUP').show(); 
   $('#SIGNIN').show(); 

   $('#publicchannel').show(); 

}else if((isPublic == false || isPublic == 'false' ) && (isLogged == true || isLogged == 'true' || isLogged == "true")) {

isPublic='false';
  $('#channelsList').show(); 
		    $('#SIGNOUT').show(); 
      $('#newdevice').show(); 
	     $('#SIGNUP').hide(); 
   $('#SIGNIN').hide(); 

   $('#publicchannel').hide(); 


}








  
     $("#addNewChannel").click(function(){
     

    });
	
	
				
				    var data = {};
					data.title = "title";
					data.message = "message";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/getActuatorslist',						
                        success: function(data) {
                            console.log('success');
							
				  var dataStr=JSON.stringify(data);
				   var str1 = dataStr.replace(/"/g, '');
                                  	var today = new Date();
                                        var dd = today.getDate();
                                        var mm = today.getMonth()+1; //January is 0!
                                        var yyyy = today.getFullYear();
                                        if(dd<10) {
                                           dd='0'+dd
                                        } 

                                         if(mm<10) {
                                          mm='0'+mm
                                          }    

                                        today = mm+'/'+dd+'/'+yyyy;
                      $.each(data, function(index, element) {
					  console.log("Email "+ str1);
					  $("#deviceslist").append("<option value="+element._id+"|"+element.longitude+"|"+element.latitude+"|"+element.minthreshold+"|"+element.maxthreshold+">"+element.description+"</option>");
 // $('#sensorsTable tr:last').after('<tr><td> <h4 style="margin-top: 0;"> <a href="dashboard?sensorId='+element._id+'"> <i class="fa fa-unlock fa-fw"></i> //'+element.description+'</a> </h4> <h6 style="margin-top: 15px;">MQTT ID :'+element._id+'</h6></td><td>'+today+'</td></tr>');
  
         
                         });				   
				 
 

                        }
                    });


					
					
						    var data = {ispublic:isPublic};
					data.title = "title";
					data.message = "message";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/getsensorslist',						
                        success: function(data) {
                            console.log('success');
							
				  var dataStr=JSON.stringify(data);
				   var str1 = dataStr.replace(/"/g, '');
                                  	var today = new Date();
                                        var dd = today.getDate();
                                        var mm = today.getMonth()+1; //January is 0!
                                        var yyyy = today.getFullYear();
                                        if(dd<10) {
                                           dd='0'+dd
                                        } 

                                         if(mm<10) {
                                          mm='0'+mm
                                          }    

                                        today = mm+'/'+dd+'/'+yyyy;
										    $("#sensorsTable").find("tr:gt(0)").remove();

                      $.each(data, function(index, element) {
					  console.log("Email "+ str1);
  $('#sensorsTable tr:last').after('<tr><td> <h4 style="margin-top: 0;"> <a href="dashboard?sensorId='+element._id+'&p='+isPublic+'"> <i class="fa fa-unlock fa-fw"></i> '+element.description+'</a> </h4> <h6 style="margin-top: 15px;">MQTT ID :'+element._id+'</h6></td><td>'+today+'</td></tr>');
  
         
                         });				   
				 
 

                        }
                    });
					
					
					
					
				
				
  });


</script>




  
 
<style>


table {
    border-collapse: collapse;
    width: 90%;
	position:relative;
	left:80px;
	word-wrap: break-word;
	table-layout:fixed;
}

thead, td {
    text-align: center;
    padding: 8px;
font-family:verdana;
word-wrap: break-word;
	
}

tr:nth-child(even){
background-color: white;

}

thead {
    color: black;
	background:#317eac;
}

#add{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


</style>







  


  
  	



</head>





  <body>

    <div id="wrap">
      <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index">
       <img alt="SenseEgypt logo" height="38" src="images/logo-icon.png"  style="padding: 0 8px; margin-top: 7px;" width="188" />

</a>    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

       

      </ul>
   <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
        <a href="documentation" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a> 
          <ul class="dropdown-menu">
            <li><a target="_blank"  href="documentation">Documentation</a></li>
            <li><a  target="_blank" href="documentation">Tutorials</a></li>
          </ul>
        </li>
		
		<div id="SIGNUP" class="nav navbar-nav navbar-right">


          <li><a href="sign_up">Sign Up</a></li>
</div>

<div id="SIGNIN" class="nav navbar-nav navbar-right">

          <li> <a href="login">Sign In</a></li>

</div>


<div id="SIGNOUT" class="nav navbar-nav navbar-right">

          <li><a href="/logout">Sign Out</a></li>
</div>
		  
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


      <div class="container">
        

        <div class="row">
  <div class="col-sm-8 col-xs-12">

    <h4 class="breadcrumb">Device Registration</h4>

	
	
		  
	<div id="adddeviceform">
	
   
	 <form accept-charset="UTF-8" id="addSensorForm" name="addchannel"  class="form-horizontal" method="post">
    
	<div style="margin:0;padding:0;display:inline">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden" value="VktIW01tQf90v4pmDopsYwNVvu2xGcUhgqWBVTmY/+0=" />
	</div>
      
      <input name='userlogin' class='userlogin' />


	   <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Device Type</label>
        <div class="col-sm-8 col-xs-8">
          <p class="form-control-static">
            <select class="form-control" id="deviceType" >
			<option value="sensor">Sensor</option>
      <option value="actuator">Actuator</option>

        </select>
          </p>
        </div>
      </div>
	  
	  
	  
	  
	  
	  
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Name</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_name" name="channel_name" type="text" /></div>
      </div>
	  
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Description</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6">
		<textarea class="form-control" cols="30" id="channel_description" name="channel_description" type="text" rows="4"  >
		</textarea>
		</div>
      </div>
	  
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Mobile No</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_mob" name="channel_mob" type="text" /></div>
      </div>
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Latitude</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_latitude" name="channel_latitude" type="text" /></div>
      </div>
	  
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Longitude</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_longitude" name="channel_longitude" type="text" /></div>
      </div>
	  
	       <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Is Public </label>

		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6">
		<input type="checkbox" name="ispublic" value="true" id="ispublic">
         
		 <label style="position:relative;left:40px">Email Alert </label>				
		<input type="checkbox" name="email" value="email" id="email" style="position:relative;left:60px">

		 <label style="position:relative;left:70px">SMS Alert</label>

		 <input type="checkbox" name="sms" value="sms" id="sms" style="position:relative;left:90px"> 


        <label style="position:relative;left:100px">Trigger Actuators </label>
		<input type="checkbox" name="triggeractuator" value="true" id="triggeractuator" style="position:relative;left:120px">
				
		
		</div>
      </div>
	  
	   
	  	
		
		<div  id="addact" style="display: none;">

		
		
			     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Actuator</label>
        <div class="col-sm-8 col-xs-8">
          <p class="form-control-static">
            <select class="form-control" id="deviceslist" >

	  
	        <option value="Please Select">Please Select</option>

			

        </select>
          </p>
        </div>
      </div>
	  
	  
	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Actuator Command</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_actuatorCommand" name="channel_actuatorCommand" type="text" /></div>
      </div>
	  
	  
	  	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Minimum Threshold</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_minThreshold" name="channel_minThreshold" type="text" /></div>
      </div>
	  
	  
	  	     <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">Maximum Threshold</label>
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6"><input class="form-control" id="channel_maxThreshold" name="channel_maxThreshold" type="text" /></div>
      </div>
	  
	  
	   	 <div class="form-group">
		<!-- user[email] -->
        <div class="col-sm-8 col-xs-6">
	 <input type="button" class="btn btn-primary" id="add" value="Add Actuator" type="submit" style="position:relative;left:380px;top:20px;" onclick="Javascript:addRow()">

		</div>
      </div>
	  
	  
	  

	  </div>
	  

<!--	</form>  -->
  </br>
  <div id="mydata" style="display: none;word-wrap: break-word;">
<b><h4 style="color:red;position:relative;left:85px;"> List of Added Actuators </h4></b>
<table id="myTableData"  border="2" cellpadding="2">
 <thead>
    <tr>
	<td> &nbsp; </td>
        <td width="40%" ><b>Actuator</b></td>
        <td><b>Minimum Threshold</b></td>
        <td><b> Maximum Threshold </b></td>
		 <td><b>  Command    </b></td>
		 
    </tr>
	 </thead>
	 <tbody>
	 </tbody>
	
</table>
&nbsp;<br/>
</div>

<input class="btn btn-danger btn-lg" style="Height:50px;position:relative;left:380px;" id="addSensorBtn" name="commit" type="submit" value="Save Device" />


</form>



  </div>

</div>


	
	
	










 </div>
</div>


      </div>
    </div>
	
	


<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 style="color:white">Device Registration</h2>
    </div>
    <div class="modal-body">
     
     <h1><p id="user_msg" style="color:black" > <font  face="Times New Roman" size="5">Hello </font></p><h1>
					
    </div>
    <div class="modal-footer">
      <h3 style="color:white">SenseEgypt </h3>
    </div>
  </div>

</div>




  <div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="index" title="Open Source Internet of Things">SenseEgypt.com</a> |
        <a href="index" title="SenseEgypt Documentation">Documentation</a> |
        <a href="index" title="Tutorials on how to use SenseEgypt platform">Tutorials</a> |
      </span>
      <span class="pull-right">
        &copy;2017 <a href="index" title="Open Source Internet of Things">SenseEgypt</a> - Powered by <a href="" target="_blank">SenseEgypt</a>
      </span>

    </p>
  </div>
</div>




  </body>

</html>

