<html>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta name="description" content="Open source data platform and API for the Internet of Things."/>
  <meta name="keywords" content="iot, internet of things, iot platform, github, open source, internet of things platform, iobridge"/>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link data-turbolinks-track="true" href="css/application-34ab6c80c76e48d799f77e7e60386577.css" media="screen" rel="stylesheet" />

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type='text/javascript' src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script data-turbolinks-track="true" src="js/application-6fc220d7a77fd902426521898e0585b7.js"></script>

  <meta content="authenticity_token" name="csrf-param" />
<meta content="VktIW01tQf90v4pmDopsYwNVvu2xGcUhgqWBVTmY/+0=" name="csrf-token" />
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20107670-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<title>DashBoard - SenseEgypt</title>
<h1 class="iottext iothead">SenseEgypt</h1>
<link rel="stylesheet" href="css/rickshaw/rickshaw.min.css"/>
<link rel="stylesheet" href="css/dashboard.css"/>
<link rel="stylesheet" href="css/extensions.css?v=2"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="css/jquery.datetimepicker.css"/>
<script type="text/javascript" src="js/d3/d3.v3.js"></script>
<script type="text/javascript" src="js/rickshaw/rickshaw.min.js"></script>

<script type="text/javascript" src="js/jquery.datetimepicker.min.js"></script>
<script type="text/javascript" src="js/rickshaw/extensions.js"></script>
<script>
  $(function() {
  $( "#historicStarts" ).datetimepicker({ onShow:function( ct ){
      this.setOptions({ maxDate: new Date() })
  }});
  $( "#historicEnds" ).datetimepicker({ maxDate: new Date()});
  $( "#historicTopRange").spinner({min : 0, max : 100, step : 1})
  .on('input', function () {
  var val = this.value,
  $this = $(this),
  max = $this.spinner('option', 'max'),
  min = $this.spinner('option', 'min');
  if (!val.match(/^\d+$/)) 
  val = 0;
  this.value = val > max ? max : val < min ? min : val;
  });
  $( "#historicTopRange").spinner("value",10); // set the default to 100
  });
</script>
    <style>
      #map-canvas {
		  
width: 850px;
  height: 220px;
  position: relative;
  top: 0px;
  left: 42px;
  
		  
      }
	  
	 
	  
 #export-canvas{
	position: fixed;
	right: 40px;
    top: 85px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
	
 #entropy-canvas{
	position: fixed;
	right: 40px;
    top: 150px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
	
	 


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #04498d;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #04498d;
    color: white;
}	 
	  
    </style>
	
	
	




	
	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP58BUbmgnbS_8r_U8v6UwdK0sCNCuv7M" async defer></script>
    <script>
      function initialize(lon,lat) {
	  	  console.log(" From Initialize");

        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(lat, lon),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
		
		
      }

	
	</script>
  
</head>



  <body>
  
  <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html">
              <img alt="SenseEgypt logo" height="38" src="images/logo-icon.png"  style="padding: 0 8px; margin-top: 7px;" width="188" />

</a>    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

            <li ><a href="channels/public.html">Channels</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Documentation</a></li>
            <li><a href="">Tutorials</a></li>
          </ul>
        </li>


          <li><a href="login">Sign Out</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="content"></div>
<form id="side_panel" class="iotsidepanel">
  <div class="devices">
    <h1 class="devicesText">Device:</h1>
    <select id="deviceslist" class="devicesSelect">
      <option value="">Select a device</option>
    </select>
  </div>
  <h1 class="iottext">Data</h1>
  <section>
    <div id="visualtype">
      <input id="realtime" type="radio" value="realtime" name="visualtype" checked=""/>
      <label for="realtime" class="iotlabel">Live Data</label>
      <input id="historic" type="radio" value="historic" name="visualtype"/>
      <label for="historic" class="iotlabel">Historic Data</label>
      <div id="historicData" hidden="hidden">
        <section>
          <input id="historicRecentEvents" type="radio" value="topEvents" name="historicQuery" checked=""/>
          <label for="historicRecentEvents" class="iotlabel">Most Recent</label>
          <input id="historicTopRange" class="spinner"/>
          <label for="historicTopRange" class="iottext">Events</label>
          <input id="historicDateRange" type="radio" value="dateRange" name="historicQuery"/>
          <label for="historicRecentEvents" class="iotlabel">Time Range</label>
          <!--label.iotlabelleft(for="historicStarts") Starts-->
          <input id="historicStarts" type="text" placeholder="Starts" class="histdate"/>
          <!--label.iotlabelleft(for="historicEnds") Ends-->
          <input id="historicEnds" type="text" placeholder="Ends" class="histdate"/><br/><br/>
        </section>
      </div>
    </div>
  </section>
  <h1 class="iottext">Select Chart Color</h1>
  <section>
    <div id="legend"></div>
  </section>
  <h1 class="iottext">Chart Type</h1>
  <section>
    <div id="renderer_form" class="toggler">
      <input id="area" type="radio" name="renderer" value="area"/>
      <label for="area">area</label>
      <input id="bar" type="radio" name="renderer" value="bar"/>
      <label for="bar">bar</label>
      <input id="line" type="radio" name="renderer" value="line" checked=""/>
      <label for="line">line</label>
      <input id="scatter" type="radio" name="renderer" value="scatterplot"/>
      <label for="scatter">scatter</label>
    </div>
  </section>
  <h1 class="iottext">Customize</h1>
  <section>
    <div id="offset_form" class="iotoptionpanel">
      <label for="stack">
        <input id="stack" type="radio" name="offset" value="zero"/><span>stack</span>
      </label>
      <label for="stream">
        <input id="stream" type="radio" name="offset" value="wiggle"/><span>stream</span>
      </label>
      <label for="pct">
        <input id="pct" type="radio" name="offset" value="expand"/><span>pct</span>
      </label>
      <label for="value">
        <input id="value" type="radio" name="offset" value="value" checked=""/><span>value</span>
      </label>
    </div>
    <div id="interpolation_form" class="iotoptionpanel">
      <label for="cardinal">
        <input id="cardinal" type="radio" name="interpolation" value="cardinal" checked=""/><span>cardinal</span>
      </label>
      <label for="linear">
        <input id="linear" type="radio" name="interpolation" value="linear"/><span>linear</span>
      </label>
      <label for="step">
        <input id="step" type="radio" name="interpolation" value="step-after"/><span>step</span>
      </label>
      <label for="hidd">
        <input id="hidd" type="radio" name="interpolation" value="" hidden="true"/><span></span>
      </label>
    </div>
  </section>
</form>
<script>
var sensorID;
  var items = [];
console.log("UI Controller Call ---- ");
var myVar = <%- JSON.stringify(channelName) %>;
  console.log("Channel Name is : "+myVar);
  
    $(document).on('page:load ready', function() {
 
 
 
 var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}




                    console.log('select_link clicked');
				    var data = {};
					data.title = "title";
					data.message = "message";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/getsensorslist',						
                        success: function(data) {
                            console.log('success');
							
				  var dataStr=JSON.stringify(data);
				   var str1 = dataStr.replace(/"/g, '');

                      $.each(data, function(index, element) {
					  console.log("Email "+ element.email);
					  $("#deviceslist").append("<option value="+element._id+"|"+element.longitude+"|"+element.latitude+"|"+element.minthreshold+"|"+element.maxthreshold+">"+element.description+"</option>");

         
                         });				   
				 
 

                        }
                    });

             
				

 
  $( "#deviceslist" ).change(function() {
  
  //var minThreshold,maxThreshold;
     var itemSelected = $("#deviceslist option:selected").last();
		var item = itemSelected.val();
		var sensorData=item.split("|");
		sensorID=sensorData[0];
		
		if(itemSelected.index() != 0){
		
		var sensorData=item.split("|");
		sensorID=sensorData[0];
var longitude=sensorData[1];
var latitude=sensorData[2];
window.minThreshold=sensorData[3];
window.maxThreshold=sensorData[4];

console.log("Min" +minThreshold +"# Max "+maxThreshold);

console.log(longitude +"#"+latitude);
initialize(longitude,latitude);	

					  $('#map-canvas').show(); 


			
		}else{
					   $('#map-canvas').hide(); 

		}
 
					

  


	
});
  
  
  
  $('#exportData').click(function(e){
  
                 console.log('export Data is clicked');
				    var data = {sensorID:sensorID};
					data.title = "title";
					data.message = "message";
					if(sensorID != 'undefined'){
			
			var xhr = new XMLHttpRequest();
xhr.open('POST', '/getDeviceData', true);
xhr.responseType = 'blob';

xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
xhr.onload = function(e) {
   
    if (this.status == 200) {
        var blob = new Blob([this.response], {type: 'application/vnd.ms-excel'});
        var downloadUrl = URL.createObjectURL(blob);
        var a = document.createElement("a");
        a.href = downloadUrl;
        a.download = "data.xlsx";
        document.body.appendChild(a);
        a.click();
    } else {
        alert('Unable to download excel.')
    }
};
xhr.send(JSON.stringify(data));
			
			
			
			
					}
  });
  
  
  
  




  $('#calcEntropy').click(function(e){
            console.log(' Entropy Button CLicked ');

               			                               console.log(' Entropy Call Request Items '+JSON.stringify(items));

  if(items.length >= 20 ){
  		   	       var data = {sensorID:sensorID,items:items};
             			                               console.log(' Entropy Call Request Items '+JSON.stringify(data));

					data.title = "title";
					data.message = "message";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/getEntroby',						
                        success: function(data) {
							
				           var dataStr=JSON.stringify(data);
				           var str1 = dataStr.replace(/"/g, '');

             			                               console.log(' Entropy Call success Response   '+str1);
													   
													   
		
					     console.log("User Not Created");
										  document.getElementById("user_msg").innerHTML = str1;

					  					      modal.style.display = "block";

					  
					  
					  

				 
 

                        }
                    });
					
				items = [];	
  
}
  });



  
  
   });
  
</script>
<div id="chart_container">
  <div id="chart">

  </div>
  <div id="timeline"></div>
  <div id="preview"></div>
      <div id="map-canvas" hidden></div>

</div>

	
	<div id="export-canvas">
	  <input class="btn btn-danger btn-lg"  type="submit"  id="exportData" value="  Export  Data" />
	</div>
	
	
	<div id="entropy-canvas">
	  <input class="btn btn-danger btn-lg"  type="submit"  id="calcEntropy" value="Check Abnormality" />
	</div>
	
	

<script type="text/javascript" src="js/realtime/mqttws31.js">

</script>
<script type="text/javascript" src="js/realtime/realtime.js"></script>
<script type="text/javascript" src="js/realtime/realtimeGraph.js"></script>
<script type="text/javascript" src="js/historian/historian.js"></script>
<script type="text/javascript" src="js/historian/historianGraph.js"></script>
<script type="text/javascript" src="js/uicontroller.js"></script>


	<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2> DTW Results</h2>
    </div>
    <div class="modal-body">
     
     <h1><p id="user_msg" style="color:red" > <font  face="Times New Roman" size="5">Hello </font></p><h1>
					
    </div>
    <div class="modal-footer">
      <h3>SenseEgypt </h3>
    </div>
  </div>

</div>

	
    <div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="" title="Open Source Internet of Things">SenseEgypt.com</a> |
        <a href="" title="SenseEgypt Documentation">Documentation</a> |
        <a href="" title="Tutorials on how to use SenseEgypt Platform">Tutorials</a>
      </span>
    

    </p>
  </div>
</div>



  </body>


</html>

