<!DOCTYPE html>
<html>
 <meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>Home - SenseEgypt</title>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta name="description" content="SenseEgypt IoT Platform">
  <meta name="keywords" content="iot, internet of things, iot platform, github, open source, internet of things platform">
    

  <link rel="stylesheet" href="css/base.css" />

    <link rel="stylesheet" href="css/logos.css" />


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >







	  
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link href="css/application-34ab6c80c76e48d799f77e7e60386577.css" rel="stylesheet" type="text/css" media="screen" data-turbolinks-track="true" />

  

		 <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>
      
    

	
		
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type='text/javascript' src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script data-turbolinks-track="true" src="js/application-6fc220d7a77fd902426521898e0585b7.js"></script>


<script src="js/slick.js" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript">
  $(document).on('page:load ready', function() {

		    $('#channelsList').hide(); 
		    $('#SIGNOUT').hide(); 
            $('#SIGNUP').hide(); 
	        $('#SIGNIN').hide(); 
 var isLogged=false ;
 
isLogged= <%= logged %>;
console.log("User Logged "+isLogged);
			

islogged=JSON.stringify(isLogged);

if(isLogged == true || isLogged == 'true' || isLogged == "true" ){

  $('#channelsList').show(); 
  console.log("User Logged  SHow Channels "+isLogged);
  					    $('#SIGNUP').hide(); 
					    $('#SIGNIN').hide(); 

						  $('#SIGNOUT').show(); 

						


}else {
		    $('#channelsList').hide();

			  console.log("User Logged  Hide Channels "+isLogged);
		    $('#SIGNOUT').hide(); 

   $('#SIGNUP').show(); 
						  					    $('#SIGNIN').show(); 
												
}


});


</script>





  
</head>



  <body style='padding-top: 5px;'>

    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" style="height: 5px;">
  <div class="container">
    <div class="navbar-header">
	   
      <a href="index">
              <img alt="SenseEgypt logo" height="38" width="188" src="images/logo-icon.png"  style="padding: 0 px; margin-top: 7px;  left: 0px; top: 0px"  /> 
		</a> 
	
 


	   <div id="publicchannel" class="nav navbar-nav navbar-right">
          <li><a href="publicchannel">Public Channels</a></li>
        </div>

		</div>
    <div class="navbar-collapse collapse">
      
	  
	  <ul class="nav navbar-nav">
       <div id="channelsList" class="nav navbar-nav navbar-right">
         
			
			
			 <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Channels 
		<b class="caret"></b></a> 
          <ul class="dropdown-menu">
            <li><a href="channel">My Things</a></li>
            <li><a   href="addthing">Add New Thing</a></li>
	        <li><a href="/auth/twitter">Add Twitter Account </a></li>

          </ul>
        </li>
		
		
		
             
            </div>	

      </ul>
	  
	  		


      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
        <a href="documentation" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a> 
          <ul class="dropdown-menu">
            <li><a target="_blank"  href="documentation">Documentation</a></li>
            <li><a  target="_blank" href="documentation">Tutorials</a></li>
          </ul>
        </li>
		
		<div id="SIGNUP" class="nav navbar-nav navbar-right">


          <li><a href="sign_up">Sign Up</a></li>
</div>

<div id="SIGNIN" class="nav navbar-nav navbar-right">

          <li> <a href="login">Sign In</a></li>

</div>


<div id="SIGNOUT" class="nav navbar-nav navbar-right">

          <li><a href="/logout">Sign Out</a></li>
</div>
		  
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


    <div id="home-top">

  <div id="home-top-center">
    <div id="home-motto">
	 

    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 
    <div>
      <a class="btn btn-danger btn-lg" href="sign_up" >Get Started Now</a>
      <br><br>
      
    </div>
  </div>

</div>

<br><br>

<div class="container">

  <div class="row">

    


    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-list fa-fw fa-lg"></i>
            SenseEgypt Features
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
            <li>Real-time data collection</li>
			<li>Real-time data analytics</li>
	        <li>Real-time data Storage</li>
            <li>Send Alerts (SMS - EMAIL)</li>
			 <li>Actuator Actions</li>
            <li>Geolocation data</li>
            <li>Data processing</li>
            <li>Data visualizations</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-gears fa-fw fa-lg"></i>
            Integrate
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
            <li>Arduino</li>
            <li>Raspberry Pi</li>
            <li>Egycon</li>
            <li>Netduino</li>
			<li>Any Device Supports MQTT Protocol</li>
		    <li>Mobile / Web Applications</li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-comments fa-fw fa-lg"></i>
            Connect With Us
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
    
            <li><a href="mailto:jdev.cs2011@gmail.com" title="Contact">Questions</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <div class="jumbotron">
    <h1>Get Started</h1>
    <p>If you are ready to build your Internet of Things, <a class="btn btn-primary btn-sm" href="sign_up">Sign Up</a> for a free developer account.</p>
    <p>
      <a href="index" target="_blank" class="btn btn-info btn-lg btn-margin">Learn More</a>
      <a id="contact_link" class="btn btn-success btn-lg btn-margin">Contact Us</a>
    </p>
    <div id="contact_form">
      <br>
      <form accept-charset="UTF-8" action="index" class="form-horizontal" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="VktIW01tQf90v4pmDopsYwNVvu2xGcUhgqWBVTmY/+0=" /></div>
  <input type='text' id='userlogin_js' name='userlogin_js' class='userlogin' />

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label">Email Address</label>
    <div class="col-sm-4 col-xs-9"><input class="form-control" id="email" name="email" type="text" /></div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label">Message</label>
    <div class="col-sm-4 col-xs-9"><textarea class="form-control" id="message" name="message" rows="8">
</textarea></div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label"></label>
    <div class="col-sm-4 col-xs-9"><p class="form-control-static"><input class="btn btn-primary" name="commit" type="submit" value="Submit" /></p></div>
  </div>
</form>

    </div>
  </div>

  <br><br>



  <br>

  
  
   <br><br>
  
    <div class="row">

	
	
	<div class="tabs" id="tabs-hard" style="display: block;">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#arduino" aria-controls="arduino" role="tab" data-toggle="tab" aria-expanded="true">Arduino</a></li>
            <li role="presentation" class=""><a href="#particle" aria-controls="particle" role="tab" data-toggle="tab" aria-expanded="false">Particle</a></li>
            <li role="presentation" class=""><a href="#raspberry" aria-controls="raspberry" role="tab" data-toggle="tab" aria-expanded="false">Raspberry Pi</a></li>
            <li role="presentation" class=""><a href="#esp" aria-controls="esp" role="tab" data-toggle="tab" aria-expanded="false">ESP8266</a></li>
            <li role="presentation" class=""><a href="#mdot" aria-controls="mdot" role="tab" data-toggle="tab" aria-expanded="false">mDot LoRa</a></li>
            <li role=""><a href="https://ubidots.com/docs/devices/" target="_blank">More...</a></li>
          </ul>


  <!-- #### This code tabs need the indentation for look good in the page ####  -->

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="arduino"><!-- ARDUINO -->

    <div class="hlcode">
    <div class="syntax">

      <pre><span></span><span class="cp">#include</span> <span class="cp">&lt;Ethernet.h&gt;</span><span class="cp"></span>
<span class="cp">#include</span> <span class="cp">&lt;SPI.h&gt;</span><span class="cp"></span>
<span class="cp">#include</span> <span class="cp">&lt;UbidotsEthernet.h&gt;</span><span class="cp"></span>
<span class="cp">#define TOKEN  "WzcXyqYlv9uKgwqhvyI6K0WfpFBkuI"  </span>

<span class="n">byte</span> <span class="n">mac</span><span class="p">[]</span> <span class="o">=</span> <span class="p">{</span> <span class="mh">0xDE</span><span class="p">,</span> <span class="mh">0xAD</span><span class="p">,</span> <span class="mh">0xBE</span><span class="p">,</span> <span class="mh">0xEF</span><span class="p">,</span> <span class="mh">0xFE</span><span class="p">,</span> <span class="mh">0xED</span> <span class="p">};</span>
<span class="n">IPAddress</span> <span class="nf">ip</span><span class="p">(</span><span class="mi">192</span><span class="p">,</span> <span class="mi">168</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">177</span><span class="p">);</span>
<span class="n">Ubidots</span> <span class="nf">client</span><span class="p">(</span><span class="n">TOKEN</span><span class="p">);</span>

<span class="kt">void</span> <span class="nf">setup</span><span class="p">() {</span>
    <span class="n">Serial</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">9600</span><span class="p">);</span>
    <span class="k">if</span> <span class="p">(</span><span class="n">Ethernet</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="n">mac</span><span class="p">)</span> <span class="o">==</span> <span class="mi">0</span><span class="p">)</span> <span class="p">{</span>
          <span class="n">Ethernet</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="n">mac</span><span class="p">,</span> <span class="n">ip</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="n">delay</span><span class="p">(</span><span class="mi">1000</span><span class="p">);</span>
<span class="p">}</span>
<span class="kt">void</span> <span class="nf">loop</span><span class="p">() {</span>
    <span class="kt">float</span> <span class="n">temperature</span> <span class="o">=</span> <span class="n">analogRead</span><span class="p">(</span><span class="n">A0</span><span class="p">);</span>
    <span class="n">client</span><span class="p">.</span><span class="n">add</span><span class="p">(</span><span class="s">"56cc97c9762542282c26c7e0"</span><span class="p">,</span> <span class="n">temperature</span><span class="p">);</span>
    <span class="n">client</span><span class="p">.</span><span class="n">sendAll</span><span class="p">();</span>
    <span class="n">delay</span><span class="p">(</span><span class="mi">5000</span><span class="p">);</span>
<span class="p">}</span>
</pre>

    </div>
    </div>

    </div><!-- END ARDUINO -->

      <div role="tabpanel" class="tab-pane" id="particle"><!-- PARTICLE -->

    <div class="hlcode">
    <div class="syntax">

      <pre><span></span><span class="cp">#include</span> <span class="cp">"Ubidots.h"</span><span class="cp"></span>
<span class="cp">#define TOKEN "WzcXyqYlv9uKgwqhvyI6K0WfpFBkuI"</span>
<span class="n">Ubidots</span> <span class="nf">ubidots</span><span class="p">(</span><span class="n">TOKEN</span><span class="p">);</span>

<span class="kt">void</span> <span class="nf">setup</span><span class="p">() {</span>
    <span class="n">Serial</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">115200</span><span class="p">);</span>
<span class="p">}</span>

<span class="kt">void</span> <span class="nf">loop</span><span class="p">() {</span>
    <span class="kt">float</span> <span class="n">temperature</span> <span class="o">=</span> <span class="n">analogRead</span><span class="p">(</span><span class="n">A0</span><span class="p">);</span>
    <span class="n">ubidots</span><span class="p">.</span><span class="n">add</span><span class="p">(</span><span class="s">"Temperature"</span><span class="p">,</span> <span class="n">temperature</span><span class="p">);</span>
    <span class="n">ubidots</span><span class="p">.</span><span class="n">sendAll</span><span class="p">();</span>
    <span class="n">delay</span><span class="p">(</span><span class="mi">5000</span><span class="p">);</span>
<span class="p">}</span>
</pre>

    </div>
    </div>
    </div><!-- END PARTICLE -->

    <div role="tabpanel" class="tab-pane" id="raspberry"><!-- Raspberry Pi -->

    <div class="hlcode">
    <div class="syntax">

      <pre><span></span><span class="kn">from</span> <span class="nn">ubidots</span> <span class="k">import</span> <span class="n">ApiClient</span>
<span class="kn">import</span> <span class="nn">math</span>
<span class="kn">import</span> <span class="nn">time</span>

<span class="n">api</span> <span class="o">=</span> <span class="n">ApiClient</span><span class="p">(</span><span class="s1">"WzcXyqYlv9uKgwqhvyI6K0WfpFBkuI"</span><span class="p">)</span>
<span class="n">temperature</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">get_variable</span><span class="p">(</span><span class="s1">"56cc97c9762542282c26c7e0"</span><span class="p">)</span>

<span class="k">while</span><span class="p">(</span><span class="mi">1</span><span class="p">):</span>
    <span class="n">response</span> <span class="o">=</span> <span class="n">temperature</span><span class="o">.</span><span class="n">save_value</span><span class="p">({</span><span class="s2">"Temperature"</span><span class="p">:</span> <span class="mi">20</span><span class="o"> * </span><span class="n">math</span><span class="o">.</span><span class="n">sin</span><span class="p">(</span><span class="n">c</span><span class="p">)})</span>
    <span class="nb">print</span> <span class="n">response</span>
    <span class="n">time</span><span class="o">.</span><span class="n">sleep</span><span class="p">(</span><span class="mi">5</span><span class="p">)</span>
</pre>

    </div>
    </div>
    </div><!-- END Raspberry Pi -->

    <div role="tabpanel" class="tab-pane" id="esp"><!-- ESP8266 -->

    <div class="hlcode">
    <div class="syntax">

      <pre><span></span><span class="cp">#include</span> <span class="cp">&lt;UbidotsESP8266.h&gt;</span><span class="cp"></span>
<span class="cp">#include</span> <span class="cp">&lt;SoftwareSerial.h&gt; </span><span class="cp"></span>

<span class="cp">#define SSID "Office"</span>
<span class="cp">#define PASS "pass123"</span>

<span class="cp">#define TOKEN "WzcXyqYlv9uKgwqhvyI6K0WfpFBkuI"</span>

<span class="n">Ubidots</span> <span class="nf">client</span><span class="p">(</span><span class="n">TOKEN</span><span class="p">);</span>

<span class="kt">void</span> <span class="nf">setup</span><span class="p">()</span> <span class="p">{</span>
    <span class="n">Serial</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">9600</span><span class="p">);</span>
    <span class="n">client</span><span class="p">.</span><span class="n">wifiConnection</span><span class="p">(</span><span class="n">SSID</span><span class="p">, </span><span class="n">PASS</span><span class="p">);</span>
<span class="p">}</span>

<span class="kt">void</span> <span class="nf">loop</span><span class="p">()</span> <span class="p">{</span>
    <span class="kt">float</span> <span class="n">temperature</span> <span class="o">=</span> <span class="n">analogRead</span><span class="p">(</span><span class="n">A0</span><span class="p">);</span>
    <span class="n">client</span><span class="p">.</span><span class="n">add</span><span class="p">(</span><span class="s">"56cc97c9762542282c26c7e0"</span><span class="p">, </span><span class="n">temperature</span><span class="p">);</span>
    <span class="n">client</span><span class="p">.</span><span class="n">sendAll</span><span class="p">();</span>
<span class="p">}</span>
</pre>

    </div>
    </div>
  </div><!-- END TAB ESP-->

  <div role="tabpanel" class="tab-pane" id="mdot"><!-- MDOT -->

    <div class="hlcode">
    <div class="syntax">
      <pre><span></span><span class="cp">#include</span> <span class="cp">&lt;SODAQMdot.h&gt;</span><span class="cp"></span>

<span class="cp">#define GATEWAY_SSID "Office"</span>
<span class="cp">#define GATEWAY_PASS "pas123"</span>
<span class="cp">#define GATEWAY_SUB_BAND "1"</span>
<span class="cp">#define TOKEN "WzcXyqYlv9uKgwqhvyI6K0WfpFBkuI"</span>

<span class="n">Ubidots</span> <span class="n">loraClient</span><span class="p">;</span>

<span class="kt">void</span> <span class="nf">setup</span><span class="p">() {</span>
    <span class="n">Serial1</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">115200</span><span class="p">);</span>
    <span class="n">loraClient</span><span class="p">.</span><span class="n">setOnBee</span><span class="p">(</span><span class="n">BEE_VCC</span><span class="p">,</span> <span class="n">BEEDTR</span><span class="p">,</span> <span class="n">BEECTS</span><span class="p">);</span>
    <span class="k">while</span><span class="p">(</span><span class="o">!</span><span class="n">loraClient</span><span class="p">.</span><span class="n">loraConnection</span><span class="p">(</span><span class="n">GATEWAY_SSID</span><span class="p">,</span> <span class="n">GATEWAY_PASS</span><span class="p">,</span> <span class="n">GATEWAY_SUB_BAND</span><span class="p">));</span>
<span class="p">}</span>

<span class="kt">void</span> <span class="n">loop</span><span class="p">()</span> <span class="p">{</span>
    <span class="kt">float</span> <span class="n">temperature</span> <span class="o">=</span> <span class="n">analogRead</span><span class="p">(</span><span class="n">A0</span><span class="p">);</span>
    <span class="n">loraClient</span><span class="p">.</span><span class="n">add</span><span class="p">(</span><span class="s">"Temperature"</span><span class="p">,</span> <span class="n">temperature</span><span class="p">);</span>
    <span class="n">loraClient</span><span class="p">.</span><span class="n">loraSend</span><span class="p">();</span>
    <span class="n">delay</span><span class="p">(</span><span class="mi">5000</span><span class="p">);</span>
<span class="p">}</span>
</pre>
    </div>
    </div>

  </div><!-- END MDOT -->

            </div><!-- END TAB CONTENT -->
          </div>
	
	
     </div>


	 
<div  class="row">

<div class="container">


<div class="customer-logos">
  <div class="slide"><img src="images/mans.jpg"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image2.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image3.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
</div>
</div>

</div>
		 
		 
		 
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('.customer-logos').slick({
			slidesToShow: 6,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1000,
			arrows: false,
			dots: false,
				pauseOnHover: false,
				responsive: [{
				breakpoint: 768,
				settings: {
					slidesToShow: 4
				}
			}, {
				breakpoint: 520,
				settings: {
					slidesToShow: 3
				}
			}]
		});
	});
</script>













  <div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="index" title="Open Source Internet of Things">SenseEgypt.com</a> |
        <a href="index" title="SenseEgypt Documentation">Documentation</a> |
        <a href="index" title="Tutorials on how to use SenseEgypt platform">Tutorials</a> |
      </span>
      <span class="pull-right">
        &copy;2017 <a href="index" title="Open Source Internet of Things">SenseEgypt</a> - Powered by <a href="" target="_blank">SenseEgypt</a>
      </span>

    </p>
  </div>
</div>



  </body>


</html>

