<!DOCTYPE html>
<html>
 <meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>Home - SenseEgypt</title>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta name="description" content="SenseEgypt IoT Platform">
  <meta name="keywords" content="iot, internet of things, iot platform, github, open source, internet of things platform">

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link href="css/application-34ab6c80c76e48d799f77e7e60386577.css" rel="stylesheet" type="text/css" media="screen" data-turbolinks-track="true" />

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type='text/javascript' src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script data-turbolinks-track="true" src="js/application-6fc220d7a77fd902426521898e0585b7.js"></script>

  <meta content="authenticity_token" name="csrf-param" />
<meta content="VktIW01tQf90v4pmDopsYwNVvu2xGcUhgqWBVTmY/+0=" name="csrf-token" />
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20107670-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  $(document).on('page:load ready', function() {

		    $('#channelsList').hide(); 
		    $('#SIGNOUT').hide(); 


 var isLogged = <%= logged %>;
console.log("User Logged "+isLogged);
			

islogged=JSON.stringify(isLogged);

if(isLogged == true){

  $('#channelsList').show(); 
  console.log("User Logged  SHow Channels "+isLogged);
  					    $('#SIGNINUP').hide(); 
						  $('#SIGNOUT').show(); 

						


}else {
		    $('#channelsList').hide();

			  console.log("User Logged  Hide Channels "+isLogged);
		    $('#SIGNOUT').hide(); 

					    $('#SIGNINUP').show(); 

}


});


</script>





  
</head>



  <body style='padding-top: 50px;'>

    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" style="height: 50px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index">
 <img alt="SenseEgypt logo" height="38" src="images/logo-icon.png"  style="padding: 0 8px; margin-top: 7px;  left: 0px; top: 0px" width="188" />
 
    
   
   
   
		</a>   

		</div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
<div id="channelsList" class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle"
             data-toggle="dropdown">  
                            Channels 
             <b class="caret"></b>
             </a>
           
          <ul class="dropdown-menu">
            <li><a href="channel">My Channel</a></li>
          </ul> 
            </li>
             
            </div>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
        <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a> -->
          <ul class="dropdown-menu">
            <li><a href="index">Documentation</a></li>
            <li><a href="index">Tutorials</a></li>
          </ul>
        </li>
<div id="SIGNINUP" class="nav navbar-nav navbar-right">

          <li> <a href="login">Sign In</a></li>

          <li><a href="sign_up">Sign Up</a></li>
</div>
<div id="SIGNOUT" class="nav navbar-nav navbar-right">

          <li><a href="/logout">Sign Out</a></li>
</div>
		  
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


    <div id="home-top">

  <div id="home-top-center">
    <div id="home-motto">
	 
      <h1>          SenseEgypt Billions and Billions of Sensors</h1>
      <h2>                   Egypt First IOT Portal</h2>
    </div>

    <br><br>

    <div>
      <a class="btn btn-danger btn-lg" href="sign_up">Get Started Now</a>
      <br><br>
      
    </div>
  </div>

</div>

<br><br>

<div class="container">

  <div class="row">

    


    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-list fa-fw fa-lg"></i>
            SenseEgypt Features
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
            <li>Real-time data collection</li>
			<li>Real-time data analytics</li>
	        <li>Real-time data Storage</li>
            <li>Send Alerts (SMS - EMAIL)</li>
			 <li>Actuator Actions</li>
            <li>Geolocation data</li>
            <li>Data processing</li>
            <li>Data visualizations</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-gears fa-fw fa-lg"></i>
            Integrate
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
            <li>Arduino</li>
            <li>Raspberry Pi</li>
            <li>Egycon</li>
            <li>Netduino</li>
			<li>Any Device Supports MQTT Protocol</li>
		    <li>Mobile / Web Applications</li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-comments fa-fw fa-lg"></i>
            Connect With Us
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
    
            <li><a href="mailto:jdev.cs2011@gmail.com" title="Contact">Questions</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <div class="jumbotron">
    <h1>Get Started</h1>
    <p>If you are ready to build your Internet of Things, <a class="btn btn-primary btn-sm" href="sign_up">Sign Up</a> for a free developer account.</p>
    <p>
      <a href="index" target="_blank" class="btn btn-info btn-lg btn-margin">Learn More</a>
      <a id="contact_link" class="btn btn-success btn-lg btn-margin">Contact Us</a>
    </p>
    <div id="contact_form">
      <br>
      <form accept-charset="UTF-8" action="index" class="form-horizontal" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="VktIW01tQf90v4pmDopsYwNVvu2xGcUhgqWBVTmY/+0=" /></div>
  <input type='text' id='userlogin_js' name='userlogin_js' class='userlogin' />

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label">Email Address</label>
    <div class="col-sm-4 col-xs-9"><input class="form-control" id="email" name="email" type="text" /></div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label">Message</label>
    <div class="col-sm-4 col-xs-9"><textarea class="form-control" id="message" name="message" rows="8">
</textarea></div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 col-xs-3 control-label"></label>
    <div class="col-sm-4 col-xs-9"><p class="form-control-static"><input class="btn btn-primary" name="commit" type="submit" value="Submit" /></p></div>
  </div>
</form>

    </div>
  </div>

  <br><br>



  <br>

</div>



    <div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="index.html" title="Open Source Internet of Things Platfor">SenseEgypt.com</a> |
       <!-- <a href="docs.html" title="ThingSpeak Documentation">Documentation</a> |
        <a href="docs/tutorials/index.html" title="Tutorials on how to use EGYTalk web services">Tutorials</a> -->
      </span>
      <span class="pull-right">
        &copy;2016 <a href="index.html" title="Open Source Internet of Things">SenseEgypt</a>
      </span>

    </p>
  </div>
</div>



  </body>


</html>

